.search-item-container {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  padding: 10px;
  gap: 10px;
  margin-bottom: 20px;
}

.search-item-container > img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.search-item-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 2;
}

.title {
  font-size: 20px;
  color: #0071c2;
}

.location {
  font-size: 13px;
}

.taxi-option {
  font-size: 13px;
  background-color: #008009;
  width: max-content;
  padding: 5px;
  color: white;
  border-radius: 5px;
}

.sub-title {
  font-size: 13px;
  font-weight: bold;
}

.feature {
  font-size: 13px;
}

.cancel {
  font-size: 13px;
  font-weight: bold;
  color: #008009;
}

.cancel-option {
  font-size: 13px;
  color: #008009;
}

.search-item-detail {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.search-item-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.search-item-rating > span {
  font-weight: bold;
  font-size: 17px;
}

.search-item-rating > button {
  padding: 5px;
  background-color: #0071c2;
  border: none;
  color: white;
}

.search-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;

  text-align: right;
}

.price {
  font-weight: bold;
}

.search-detail > button {
  border: none;
  background-color: #0071c2;
  padding: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}
